<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.UserMapper">

    <select id="findByProviderAndProviderUserId" resultType="UserVo">
        SELECT id,
               provider,
               provider_user_id,
               nickname,
               bio,
               profile_image_url,
               status,
               last_login_at,
               created_at,
               updated_at
        FROM users
        WHERE provider = #{provider}
          AND provider_user_id = #{providerUserId}
    </select>

    <insert id="insertUserInfo" parameterType="UserVo">
        INSERT INTO users (provider,
                           provider_user_id,
                           status)
        VALUES (#{provider},
                #{provider_user_id},
                #{status});
    </insert>

</mapper>